name: Publish new release

on:
  pull_request:
    types: [closed]
    branches:
      - "master"
  push:
    tags:
      - "v*"

permissions:
  contents: write
  id-token: write

jobs:
  release_gh:
    name: Create new GitHub release
    if: contains(github.event.pull_request.labels.*.name, 'release')

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup
        uses: ./.github/actions/setup

      - name: git config
        run: |
          git config user.name "${GITHUB_ACTOR}"
          git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"

      - name: Generate Changelog
        run: node ./scripts/extract_changelog.js > ${{ github.workspace }}-CURRENT_CHANGELOG.md

      - name: Get latest version
        run: echo "PACKAGE_VERSION=$(node scripts/extract_version.js)" >> $GITHUB_ENV

      - name: GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          name: freeRASP ${{ env.PACKAGE_VERSION }}
          tag_name: v${{ env.PACKAGE_VERSION }}
          body_path: ${{ github.workspace }}-CURRENT_CHANGELOG.md

  publish_npmjs:
    name: Publish release to npm.js
    needs: release_gh
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup
        uses: ./.github/actions/setup

      - name: Configure git
        run: |
          git config user.name "${GITHUB_ACTOR}"
          git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"

      - name: Publish package
        run: npm publish
